<div class="container">

<!-- PORTFOLIO -->

  <div id="wrapper-container" style="margin-top: 120px;">
  
    <div class="container object">
    
      <div class="work">
        <%= form_tag("/teambuilding_create/create_process", method: "POST", multipart: true) do%>
        	<figure class="white">
          	<input type="button" id="file_upload_button"/>
          	<input type="file" name="picture" id="file_upload"/>
            <div id="wrapper-part-info">
              <div class="part-info-image">
                <img src="/img/mockup-1.jpg" alt="" width="628" height="437"/>
                <img src="/img/mockup-2.jpg" alt="" width="628" height="437"/>
                <img src="/img/mockup-3.jpg" alt="" width="628" height="437"/>
              </div>
            </div>
          </figure>	

          <div class="wrapper-text-description side-info">
            
          	<input type="text" id="team_name" name="name"/>
          	<label for="team_name">Team Name</label>
          	
          	<input type="text" name="abstract"/>
          	<label for="abstract">Abstract</label>
          	
          	<input type="text" name="leader" value="<%= current_user.email %>" readonly/>
          	<label for="team_number">Team Leader</label>
          	
          	<input type="text" name="number"/>
          	<label for="team_number">Number</label>
              
            <div class="wrapper-morefrom">
              <div class="image-morefrom">
            	  <a href="#"><div class="image-morefrom-1"><img src="/img/psd-1.jpg" alt="" width="430" height="330"/></div></a>
                <a href="#"><div class="image-morefrom-2"><img src="/img/psd-2.jpg" alt="" width="430" height="330"/></div></a>
                <a href="#"><div class="image-morefrom-3"><img src="/img/psd-3.jpg" alt="" width="430" height="330"/></div></a>
                <a href="#"><div class="image-morefrom-4"><img src="/img/psd-6.jpg" alt="" width="430" height="330"/></div></a>
              </div>
            </div>
          <input type="hidden" id="tag-input" name="tag" value=""></input>  
          <button type="submit" id="input-submit" class="btn btn-secondary">Submit</button>
            
          </div> <!-- wrapper-text-description -->
          
           <textarea type="text" id="input-content" name="content" class="md-textarea" col=40 placeholder="팀 아이디어에 대해 설명해 주세요."></textarea>
           <div class="row">
            <button type="button" id="tag1" class="btn btn-default" onclick="getSelect(this);">건강</button>
            <button type="button" id="tag2" class="btn btn-default">금융</button>
            <button type="button" id="tag3" class="btn btn-default">교육 및 취업</button>
            <button type="button" id="tag4" class="btn btn-default">라이프스타일 & 일상생활</button>
            <button type="button" id="tag5" class="btn btn-default">미디어</button> <br>
            <button type="button" id="tag6" class="btn btn-default">사회공헌</button>
            <button type="button" id="tag7" class="btn btn-default">외국어</button>
            <button type="button" id="tag8" class="btn btn-default">예술(음악, 디자인 등)</button>
            <button type="button" id="tag9" class="btn btn-default">컨텐츠</button>
            <button type="button" id="tag10" class="btn btn-default">기타</button>
          </div>
        <% end %>
        
			</div> <!-- work -->
		</div>
  </div>      
</div> <!-- container -->
<script>
  function getSelect(button){
    var tag_val = button.text();
    console.log(tag_val);
    $('#tag-input').attr('value', tag_val);
    console.log($(this)[0].tagName);
  }
  /*
  $(document).on("click", $("#tag6"), function(){
    console.log($(this).attr("id"));
  });*/
</script>