/* TEMPLATE STYLES */

/* Team Building Create */
#file_upload_button,
#file_upload {
  width: 50vw;
  height: 50vw;
}

/* Necessary for full page carousel*/

html,
#index_page,
.view {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}


/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("/img/Serengeti_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("/img/Serengeti_lion2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.white {
  width: 100%!important
}

.white_teambuilding {
  width: 50vw!important;
  height: 50vw
}
.team_image {
  width: 50vw;
  height: 50vw
}
.right {
  float: right!important;
}
.nav_name {
  font-weight:bold;
  color: white!important;
  background-color: crimson;
}
.team_detail_label {
  color:#a1a1a1;
}
.carousel-item:nth-child(3) {
    background-image: url("http://mdbootstrap.com/images/regular/nature/img%20(3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.white {
  width: 100%!important;

}
/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}

