<!--Main layout-->
<div class="container">
 <div class="row">
    <!--Main column-->
     <div class="col-md-8">
        <%= render partial: '/admin/menu_list' %>


            <% @feedback.each do |f| %>
                <tr>
                  <td style="width:10%"><%= f.username %></td>
                  <td style="width:10%"><%= f.feedback %></td>
                </tr>
            <% end %>
            
            
    </div>
  </div>
</div>