<div class="row">
    <div class="card card-info text-xs-center" style="margin-top:30px;margin-bottom:30px">
        <div class="card-block">
          <p class="white-text">메일인증을 진행해 주세요!</p>
        </div>
    </div>
</div>