  <div  class="col-xs-12">
    <h2 class="heading">Comments <span class="label blue"><%= notice_reply.count %></span></h2>
  </div>
  
  <% notice_reply.each do |r| %>
    <hr>
    <div class="row">
      <div class="col-xs-10">
          <h3><%= r.user.name %></h3>
      </div>
      <div class="card-data col-xs-2">
        <i class="fa fa-clock-o"></i> <%= r.get_time %>
      </div>
          
      <div class="col-xs-12">
      <p><%= r.content %></p>
      </div>
    </div>
  <% end %>