<% teams.team_post_replies.each do |s| %>
  <div class="reply-reply-post">
    <%= s.team_post_reply %> <br/><br/>
    <%= s.user.name %> &nbsp; <%= s.get_time %> &nbsp;
    <a href="#">[삭제하기]</a>  
  </div>
<% end %>

