// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_modal {
  position: absolute;;
  top: 30px;
  height: 600px;
  width: 800px;
  margin: auto;
  display: hide;
  padding: 0;
}

#home_modal_img {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
}
